<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>title</title>
  <!--bower:css-->
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/lib/slick-carousel/slick/slick-theme.css" />
  <link rel="stylesheet" href="/lib/slick-carousel/slick/slick.css" />
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/lib/flag-icon-css/css/flag-icon.min.css" />
  <link rel="stylesheet" href="/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" />
  <link rel="stylesheet" href="/lib/lightbox2/dist/css/lightbox.css" />
  <!--endbower-->
  <!--bower:js-->
  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/lib/angular/angular.min.js"></script>
  <script src="/lib/slick-carousel/slick/slick.js"></script>
  <script src="/lib/angular-slick-carousel/dist/angular-slick.js"></script>
  <script src="/lib/jquery-mousewheel/jquery.mousewheel.js"></script>
  <script src="/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
  <script src="/lib/lightbox2/dist/js/lightbox.js"></script>
  <!--endbower-->
  <!--inject:css-->
  <link rel="stylesheet" href="/css/adminLogin.css">
  <link rel="stylesheet" href="/css/card.css">
  <link rel="stylesheet" href="/css/customEventSection.css">
  <link rel="stylesheet" href="/css/gallerySlider.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/locationInfoSection.css">
  <link rel="stylesheet" href="/css/modal.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <!--endinject-->
  <!--inject:js-->
  <script src="/js/app-events.js"></script>
  <script src="/js/browser.js"></script>
  <script src="/js/dataAdminController.js"></script>
  <script src="/js/eventsController.js"></script>
  <script src="/js/eventsControllerEng.js"></script>
  <script src="/js/eventsControllerHr.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/map.js"></script>
  <script src="/js/sectionTransitions.js"></script>
  <!--endinject-->
</head>

<body style="background-color:white" ng-app="app-events" >
    <h1>Database is being filled</h1>
    <img src="https://graph.facebook.com/1006746382792740/picture?access_token=EAAcdkyGC9vMBAD23ToBtIWOZCBc4QlFAqi9Hg08VZCc9ywpRePEZC11iJiS4ftw2AEIokfkXs1ZCI7Jj3Bbtmc2AW21Cf5y5mBGkuGDiswIZAFrunA4FfcXfyK90JHy0OVuXrgLPLlbn7BUJcL7gmeIJRcxjKpxnzT0knFf1swQZDZD">
</body>
</html>